*{           
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    }
    body {
        background:url('https://images.unsplash.com/photo-1517811409552-396f829138a2?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bmF0dXJlfHx8fHx8MTYyNzY0NjcwNw&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600');
        background-repeat: no-repeat;                                    
    }
   header {           
       display: flex;
       flex-direction: row;
       margin:30px ; 
       margin-top: 30px;
       justify-content:center;
       align-items: center;
   }       
   h2{           
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
   }       
   .notescontainer {            
    display: flex;
       flex-direction: row;
       flex-wrap:row;
       justify-content:space-between;
       margin:50px ; 
       width: 75vw;
       position: fixed;
       bottom:-15px;
       left:10vw;
       align-items: center;
   }
   #note{
       padding:12px;
       padding-left: 15px;
       width:100%;
       border-radius: 10px;
       background-color: rgba(211, 211, 211, 0.692);
       text-transform: capitalize;
       color: white;
       font-size:14px;                      
       border:none;
       outline:none;
       Box-shadow:0px 0px 1px 0.5px lightgrey;           
   }         
   #note:focus{
    outline:none;
    Box-shadow:0px 0px 3px 1px grey;           
   }     
   .notescontainer button {                      
       padding: auto;
       margin-left: 30px;
       margin-right: 30px;
       height: 40px;
       width: 45px;
       justify-content: right;
       outline: none;
       font-size:18px;
       background-color: rgba(211, 211, 211, 0.692);
       border:none;
       border-radius: 50%;           
       Box-shadow:0px 0px 1px 0px grey;
   }
   .notescontainer button:hover{
    outline:none;
    Box-shadow:0px 0px 3px 1px grey;           
   }     
   .notes{           
       display: grid;
       height: 320px;     
       grid-gap: 1rem;
        grid-template-columns: repeat(auto,min-max(2fr));
        grid-template-areas:
            'navbar navbar navbar navbar '
            'section section section aside'
            'footer footer footer footer'
        ;                     
        align-items: center;            
       justify-content:center;
       padding: 20px;
       overflow: auto;
   }       
   .container{
       padding: 20px;
       margin:10px;
       width: 160px;
       text-align:justify;
       height: fit-content;
       border-radius: 8px;
       -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
       background-color: rgb(255, 255, 255);
       border:1px rgb(226, 226, 226) solid;
       box-shadow:0px 0px 3px 0.2px  grey;
   }
   @media (min-width:300px) and (max-width:800px){
    .notes{           
       display: grid;
       height: 480px;                
       grid-gap: 1rem;
        grid-template-columns: repeat(auto,min-max(2fr));
        grid-template-areas:
            'navbar '
            'section '
            'footer '
            'aside '
        ;                     
        align-items: center;            
       justify-content:center;
       padding: 0px;
       overflow: auto;
   }  
   #note{
       padding:7px;
       left:10%;
   }
   .notescontainer button{
       height:35px;
       width:45px;
       border-radius: 50%;
   }
   .container{                         
        padding: 20px;
        margin: 10px;
        width: 80vw;
        text-align: justify;
        height: auto;
        border-radius: 8px;
        background-color: rgb(255, 255, 255);
        border:1px rgb(226, 226, 226) solid;
        box-shadow:0px 0px 3px 0.2px  grey;
        display: flex;                        
        flex-direction: row;                
        justify-content: space-evenly;
        align-items: center;
   }
    }                      